---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header'
---

<Layout title='Revo'>
  <Header client:load />
  <main class='container p-8'>
    <p class='font-Montserrat text-4xl'>Dê vida aos seus projetos com a REVO</p>
    <p class='font-Nunito'>Subtítulo</p>
    <p>
      Um paragráfo sem estilo que deve estar com a fonte Nunito automaticamente
      porque eu nao aguento mais porra
    </p>
  </main>
</Layout>

<style is:global>
  @font-face {
    font-family: 'Nunito';
    src: url('/fonts/NunitoSans-Regular.ttf');
  }
  @font-face {
    font-family: 'Sao Torpes';
    src: url('/fonts/Sao Torpes.otf');
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.ttf');
  }
</style>
